webcam-list {
    --portrait-width: 0;

    .resized-h {
        @media (orientation: portrait) {
            height: calc(100% - var(--portrait-width) * 9 / 16);
        }

        @media (orientation: landscape) {
            height: 100%;
        }
    }

    .gm-style-iw-t button {
        display: none !important;
    }
}
